/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}

/* TYPOGRAPHY */
.heading-primary {
  font-size: 40px;
  font-weight: 200;
  color: #fff;
}

.heading-secondary {
  font-size: 30px;
  color: #267c85;
}

.paragraph {
  font-size: 16px;
}

.small {
  font-size: 11px;
  color: #fff;
}

/* HEADER */
.header {
  height: 400px;
  background-color: #02d2fc;
  background-image: linear-gradient(180deg, #02d2fc, #001d24);
}
.header-title {
  text-align: center;
}

/* SECTION */
.section-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section:first-child {
  text-align: left;
}
.section:last-child {
  text-align: right;
}
.section-header {
  margin-bottom: 10px;
}
.section-info {
  margin-top: 10px;
}

/* FOOTER */
.footer {
  background-color: #001d24;
}
.footer-copyright {
  text-align: center;
  padding: 60px;
}
